@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Fonts */
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);

  /* Ocean */
  --color-ocean-50: #F0FAFF;
  --color-ocean-100: #D8F7FD;
  --color-ocean-200: #B1F0FB;
  --color-ocean-300: #9DECFB;
  --color-ocean-400: #60E2FB;
  --color-ocean-500: #1FD6F9;
  --color-ocean-600: #27AED3;
  --color-ocean-700: #2C86AA;
  --color-ocean-800: #006E99;
  --color-ocean-850: #2C86AA;
  --color-ocean-900: #003457;
  --color-ocean-950: #061935;

  /* Seaweed */
  --color-seaweed-50: #FCFDFA;
  --color-seaweed-100: #F3F8EA;
  --color-seaweed-200: #E2EECC;
  --color-seaweed-300: #D0E4AD;
  --color-seaweed-400: #BFDB8E;
  --color-seaweed-500: #ADD16F;
  --color-seaweed-600: #9CC750;
  --color-seaweed-700: #88B43A;
  --color-seaweed-800: #688A2C;
  --color-seaweed-900: #485F1F;
  --color-seaweed-950: #384A18;

  /* Sand */
  --color-sand-50: #FDF6EB;
  --color-sand-100: #FBEED9;
  --color-sand-200: #F7DFB4;
  --color-sand-300: #F3CF8F;
  --color-sand-400: #EFBF6A;
  --color-sand-500: #EAA937;
  --color-sand-600: #D28F17;
  --color-sand-700: #A06C11;
  --color-sand-800: #6D4A0C;
  --color-sand-900: #3A2706;
  --color-sand-950: #211604;

  /* Neutral */
  --color-neutral-50: #FAFAFA;
  --color-neutral-100: #F5F5F5;
  --color-neutral-200: #E5E5E5;
  --color-neutral-300: #D4D4D4;
  --color-neutral-400: #A3A3A3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;

  /* Quiz */
  --color-quiz-easy: #9CC750;
  --color-quiz-medium: #EAA937;
  --color-quiz-hard: #EA3737;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

}

/* Text Styles font  */

.text-h2 {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 24px;
  line-height: normal;
}

.text-Text-Bold{
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
}
.text-Text-Normal{
  font-family: var(--font-inter);
  font-size: 14px;
  line-height: normal;
}
.text-Text-Semibold{
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
}

.text-h3-bold {
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
}

.text-subheading {
  font-family: var(--font-inter);
  font-weight: 300;
  font-size: 12px;
  line-height: normal;
}

.text-Display-L {
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 48px;
  line-height: normal;
}
.text-Display-XL {
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 64px;
  line-height: normal;
}
.text-Display-Normal {
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 30px;
  line-height: normal;
}

.text-h4-Semibold {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.04px;
}

.text-h4-Normal{
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.04px;
}

.text-body {
  font-family: var(--font-inter);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6;
}

body {
  background-attachment: fixed; 
  background-size: cover;
  min-height: 100vh;
  /*to see font-family*/
}

/* Animation */
@keyframes floaty {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.floaty {
  animation: floaty 2.6s ease-in-out infinite;
}
